
   
      h1 {
        color: chartreuse;
        background: blue;
    }
    p {
        color:blue;
        font-size: 28px;
    }

    button {
        background-color: chartreuse;
        border-color: blue;
    }


    