/*Vamos falar de POSITION.

position: static . (padrão)-- não aceita valores de top, botton, right e left.
position: fixed . fixa o elemento na tela.
position: sticky . age como um adesivo, fixa o elemento só onde eu determinar.
position: relative . posição relativa a posição inicial dele.
position: absolute . posição absoluta (fixa) a algum elemento ou a pagina.
------------------- Se nao tiver pai / pai for static --> posiciona referente a pagina.
------------------- se o pai NÃO for static --> posiciona referente ao pai.

Propriedades:

            - top;
            -botton;
            -left;
            -right;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 200vh;
    width: 200vw;
}

.div-dad {
    height: 350px;
    width: 350px;
    background-color: #FF1396;
}

.div-son {
    height: 150px;
    width: 150px;
    background-color: #FFFF00;
}
